---
const { data, imageLeft = true } = Astro.props;
---

<article class="card">
  <a href={`/single-recipe/${data.id}`} class="card-content">
    <div class={`image ${imageLeft ? 'order-1' : 'order-2'}`}>
      <img src={data.main_image} alt={data.name} />
    </div>

    <div class={`text ${imageLeft ? 'order-2' : 'order-1'}`}>
      <div class="time_servings">
        <h3>🕘 Time: {data.time} min.</h3>
        <h3>🍽️ Servings: {data.servings} portions</h3>
      </div>
      <h2>{data.name}</h2>
      <p>{data.description}</p>
    </div>
  </a>
</article>

<style>
.card {
  display: flex;
  justify-content: center;
  margin: 5rem 2rem;
}

.card-content {
  display: flex;
  flex-direction: row;
  max-width: 1200px;
  width: 100%;
  gap: 1rem;
  align-items: center;
}

.time_servings {
  display: flex;
  flex-direction: row;
}

.image img {
  max-width: 300px;
  width: 100%;
  height: auto;
}

.text {
  flex: 1;
  text-align: center;
  max-width: 500px;
  margin: 0 auto;
}

h3{
    font-size: 18.5px;
    max-width: 300px;
    color: #012FA8;
  }

h2{
  padding: 25px 0px 25px 0px;
  font-size: 20px;
  max-width: 500px;
  margin: 0 auto;
  color: #858854;
  font-weight: 300;
  text-align: left;
}

p{
  max-width: 300px;
  text-align: left;
}   

/* Reorder logic */
.order-1 {
  order: 1;
}
.order-2 {
  order: 2;
}

/* Mobile */
@media (max-width: 768px) {
  .card-content {
    flex-direction: column;
    text-align: center;
    gap: 1rem
  }

  h3{
    font-size: 13.5px;
    margin: 0 auto;
    max-width: 300px;
    color: #012FA8;
  }

  .time_servings {
  display: flex;
  flex-direction: row;
  max-width: 400px;
  margin: 0 auto;
}

h2{
  padding: 25px 0px 25px 0px;
  font-size: 20px;
  max-width: 300px;
  margin: 0 auto;
  color: #858854;
  font-weight: 300;
  text-align: left;
}

p{
  max-width: 300px;
  text-align: left;
}

.order-1 {
  order: 0;
}
.order-2 {
  order: 0;
}
}
</style>
