---
const { data } = Astro.props;
---

<article>
  <a href={`/single-recipe/${data.id}`}>

  <div class="øverst">
    <div>
      <h2>{data.name}</h2>

      <div class="time_servings">
      <h3>Time: {data.time} min.</h3>
      <h3>Servings: {data.servings} portions</h3>
      </div>
    </div>

    <div>
      <img src={data.main_image} alt={data.name} />
    </div>
  </div>

  <div class="nederst">
    <div>
      <h3 class="seasons">Seasons: <br /> {data.season.join(', ')}</h3>
    </div>

<div class="line">
  <p>{data.description}</p>
  <span class="arrow-bottom"></span>
</div>


  </div>
  </a>
</article>

<style>

  .øverst,
  .nederst {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
  }

  .nederst {
    align-items: flex-end;
  }
.time_servings {
    padding-top: 1rem;
    line-height: 2rem;
    /* display: flex;
    flex-direction: column;
    justify-content: space-between; */
}
  h2 {
    font-size: 1.7rem;
  }
  p {
    width: 290px;
  }  

  .seasons {
    text-transform: uppercase;  
    }
  
  img {
    width: 300px;
    height: 250px;
    object-fit: cover;
    /* display: block; */
  }

 .line {
  position: relative;
  display: inline-block;
  padding-right: 10px; /* make space for line and arrows */
}

/* Vertical line */
.line::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 5px;
  width: 1px;
  background-color: var(--color-secondary);
}

/* Top arrow (downward ▼) */
.line::before {
  content: "";
  position: absolute;
  top: -4px;
  right: 0.5px;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 6px solid var(--color-secondary);
}

/* Bottom arrow (upward ▲) as a real element */
.arrow-bottom {
  position: absolute;
  bottom: -4px;
  right: 1px;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 6px solid var(--color-secondary);
}

</style>
