---
const { data } = Astro.props;
---

<article>
  <a href={`/single-recipe/${data.id}`}>

  <div class="øverst">
    <div>
      <h2>{data.name}</h2>

      <div class="time_servings">
      <h3>Time: {data.time} min.</h3>
      <h3>Servings: {data.servings} Portions</h3>
      </div>
    </div>

    <div>
      <img src={data.main_image} alt={data.name} />
    </div>
  </div>

  <div class="nederst">
    <div>
      <h3 class="seasons">Seasons: <br /> {data.season.join(', ')}</h3>
    </div>

    <div>
      <p>{data.description}</p>
    </div>
  </div>
  </a>
</article>

<style>
  .øverst,
  .nederst {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
  }

  .nederst {
    align-items: flex-end;
  }
.time_servings {
    padding-top: 1rem;
    line-height: 2rem;
    /* display: flex;
    flex-direction: column;
    justify-content: space-between; */
}
  h2 {
    font-size: 1.7rem;
  }
  p {
    width: 300px;
  }  

  .seasons {
    text-transform: uppercase;  
    }
  
  img {
    width: 300px;
    height: 250px;
    object-fit: cover;
    /* display: block; */
  }
</style>
